<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snail.education" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="andorid.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.snail.education.app.SEAPP"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.snail.education.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 微信分享回调 -->
        <activity
            android:name="com.snail.education.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付回调 -->
        <activity
            android:name="com.snail.education.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxecccb69e0476616b" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snail.education.ui.BaseSearchActivity"
            android:label="@string/title_activity_base_search" />
        <activity
            android:name="com.snail.education.ui.index.activity.AuditionActivity"
            android:label="蜗牛试听" />
        <activity
            android:name="com.snail.education.ui.activity.ImagePagerActivity"
            android:label="@string/title_activity_image_pager" />
        <activity
            android:name="com.snail.education.ui.course.CourseDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_course_detail" />
        <activity
            android:name="com.snail.education.ui.index.activity.TeacherActivity"
            android:label="@string/title_activity_teacher" />
        <activity
            android:name="com.snail.education.ui.index.activity.OrganizationActivity"
            android:label="@string/title_activity_organization" />
        <activity
            android:name="com.snail.education.ui.index.activity.StudentActivity"
            android:label="@string/title_activity_student" />
        <activity
            android:name="com.snail.education.ui.information.activity.InfoDetailActivity"
            android:label="@string/title_activity_info_detail" />
        <activity
            android:name="com.snail.education.ui.index.activity.StudentInfoActivity"
            android:label="@string/title_activity_student_info" />
        <activity
            android:name="com.snail.education.ui.course.CourseListActivity"
            android:label="@string/title_activity_course_list" />
        <activity
            android:name="com.snail.education.ui.information.activity.ShowWebImageActivity"
            android:label="@string/title_activity_show_web_image" />
        <activity
            android:name="com.snail.education.ui.course.pay.CoursePayActivity"
            android:label="@string/title_activity_course_pay" />

        <!-- alipay sdk begin 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->
        <activity
            android:name="com.snail.education.ui.index.activity.SignInActivity"
            android:label="@string/title_activity_sign_in" />
        <activity
            android:name="com.snail.education.ui.me.activity.UserRegActivity"
            android:label="@string/title_activity_user_reg" />
        <activity
            android:name="com.snail.education.ui.me.activity.UserUpdateActivity"
            android:label="@string/title_activity_user_update" />
        <activity
            android:name="com.snail.education.ui.me.activity.DownloadActivity"
            android:label="@string/title_activity_download" />
        <activity
            android:name="com.snail.education.ui.index.activity.SubjectActivity"
            android:label="@string/title_activity_subject" >
        </activity>
        <activity
            android:name="com.snail.education.ui.index.activity.ExamActivity"
            android:label="@string/title_activity_exam" >
        </activity>
        <activity
            android:name="com.snail.education.ui.index.activity.SubItemActivity"
            android:label="@string/title_activity_sub_item" >
        </activity>
        <activity
            android:name="com.snail.education.ui.index.activity.ExamArticleActivity"
            android:label="@string/title_activity_exam_article" >
        </activity>
    </application>

</manifest>
